<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2 bg-white my-2"
  id="sidenav-main">
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-xl-none"
      id="iconSidenav"
    ></i>
    <a class="navbar-brand m-0" href="<%= admin_root_path %>">
      <span class="ms-1 font-weight-bold text-dark">
        TailorPro Admin
      </span>
    </a>
  </div>
  <hr class="horizontal dark mt-0 mb-2">
  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <!-- Dashboard -->
      <li class="nav-item">
        <%= link_to admin_root_path,
          class: "nav-link #{controller_name == 'dashboard' ? 'active bg-gradient-info text-white' : 'text-dark'}" do %>
          <i class="material-symbols-rounded opacity-5">dashboard</i>
          <span class="nav-link-text ms-1">Dashboard</span>
        <% end %>
      </li>
      <!-- Orders -->
      <!-- Users -->
      <li class="nav-item">
        <%= link_to admin_users_path, class: "nav-link #{controller_name == 'users' ? 'active bg-gradient-info text-white' : 'text-dark'}" do %>
          <i class="material-symbols-rounded opacity-5">people</i>
          <span class="nav-link-text ms-1">Store Owners</span>
        <% end %>
      </li>
      <!-- Customers -->
      <li class="nav-item">
        <%= link_to admin_stores_path, class: "nav-link #{controller_name == 'stores' ? 'active bg-gradient-info text-white' : 'text-dark'}" do %>
          <i class="material-symbols-rounded opacity-5">people</i>
          <span class="nav-link-text ms-1">Stores</span>
        <% end %>
      </li>
      <!-- Workers -->
      <li class="nav-item">
        <%= link_to admin_workers_path, class: "nav-link #{controller_name == 'workers' ? 'active bg-gradient-info text-white' : 'text-dark'}" do %>
          <i class="material-symbols-rounded opacity-5">group</i>
          <span class="nav-link-text ms-1">Workers</span>
        <% end %>
      </li>
      <!-- Settings Header -->
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs text-dark font-weight-bolder opacity-5">
          Settings
        </h6>
      </li>
      <!-- Settings -->
      <li class="nav-item">
        <%= link_to admin_currency_settings_path,
          class: "nav-link #{controller_name == 'currency_settings' ? 'active bg-gradient-info text-white' : 'text-dark'}" do %>
          <i class="material-symbols-rounded opacity-5">currency_exchange</i>
          <span class="nav-link-text ms-1">Currency Settings</span>
        <% end %>
      </li>
    </ul>
  </div>
</aside>
