<!DOCTYPE html>
<html lang="en">
<head>
  <title>TailorPro Admin</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />

  <!-- CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="g-sidenav-show bg-gray-100">

  <%= render "admin/shared/sidebar" %>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <%= render "admin/shared/navbar" %>

    <div class="container-fluid py-4">
      <%= yield %>
    </div>

    <%= render "admin/shared/footer" %>
  </main>

  <!-- SETTINGS MUST BE OUTSIDE MAIN -->
  <%= render "admin/shared/settings" %>

  <%= javascript_include_tag "application", defer: true %>
</body>
</html>
