<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TailorPro Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!-- Rails CSS -->
    <%# <%= stylesheet_link_tag "application", data: { turbo_track: "reload" } %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="g-sidenav-show bg-gray-100">
    <!-- SIDEBAR (PARTIAL) -->
    <%= render "admin/shared/sidebar" %>
    <!-- MAIN CONTENT -->
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      <!-- NAVBAR -->
      <%= render "admin/shared/navbar" %>
      <!-- PAGE CONTENT -->
      <div class="container-fluid py-4">
        <%= yield %>
      </div>
      <!-- FOOTER -->
      <footer class="footer pt-4">
        <div class="container-fluid">
          <div class="text-center text-sm text-muted">
            © <%= Time.current.year %> TailorPro
          </div>
        </div>
      </footer>
    </main>
    <!-- JS -->
    <%# <%= javascript_include_tag "application", defer: true %>
    <%= render "admin/shared/settings" %>
  </body>
</html>
